*{
    padding: 0;
    margin: 0;
}

body{
     font-family: 'Quicksand', sans-serif;
}

header {
    display: inline;
}

/* jumbutron */
.jumbutron{
    text-align: center;
    color: white;
    background-color: rgba(0, 123, 255, 0.757);
    padding-top: 6%;
    padding-bottom: 6%;
    width: 100%;
    background-size: cover;
}

.jumbutron h1{
    padding: 20px;
}


.container {
    width: 91%;
    margin: 0 auto;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 3px 0  rgba(0, 0, 0, 0.1);
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 520;
}

nav li a:hover{
    font-weight: 600;
    background-color: #ddd;
    color: black;
}

nav li a:hover::after {
    content: '';
    display: block;
    border-bottom:solid rgba(0, 123, 255, 0.757);
    width: 100%;
    margin: auto;
    padding-bottom: 3px;
    margin-bottom: -6px;
}

nav li a {
    display: inline-block;
    padding: 18px 15px;
    font-size: 18px;
}

.line {
    display: block;
    width: 80%;
    height: 3px;
    background-color: #6b6967;
    margin: 75px auto 0px;
    border-radius: 3px;
}

/* Beranda */
#beranda h1{
    font-size: 25px;
    padding: 50px 0px 10px 0px;
}

#beranda p {
    color: #6b6967;
    font-size: 20px;
    text-align: justify;
}

#beranda .kata{
    text-indent: 35px;
}

/* Daftar Wisata */
#daftar-wisata h1{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

#daftar-wisata .flex-column {
    display: flex;
    flex-direction: column;
}

#daftar-wisata .flex-column img{
    width: 100%;
}

#daftar-wisata .flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#daftar-wisata .box {
    flex-grow: 1;
    margin: 10px;
    box-shadow: 0 5px 9px 0  rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

#daftar-wisata .box img{
    border-radius: 5%;
}

.button{
    width: 20%;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 123, 255, 0.189);
    border: 2px solid rgba(0, 123, 255, 0.757);
}

.button a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: rgba(0, 123, 255, 0.757);
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

@media screen and (max-width: 950px) {
    header .jumbutron img{
        width: 100%;
        height: fit-content;
    }

    .button{
        width: 80%;
    }

    .line {
        margin: 50px auto 20px;
    }

    #daftar-wisata .flex-row {
         flex-direction: column;
    }

    #daftar-wisata .flex-column img{
        width: 100%;
    }
}